*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(247, 239, 239);
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-bottom: #ccc;
    box-shadow: 0px 0px 3px;
    background-color: white;
    position: fixed;
    top: 0;
}
#logo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#nav{
    width: 40%;
    height: 100%;
    display: block;
}
#logo img{
    width: 10%;
    height: 100%;
    display: block;
    margin-left:30px;
}
#title{
    color: rgb(206, 126, 7);
    font-weight: bold;
    display: block;
    font-size: 30px;
    margin-left: 30px;
    padding: 20px 0px 0px 20px;
}
#nav ul{
    margin-top: 22px;
    display: flex;
    flex-direction: row;
}
#nav ul li{
    list-style: none;
    text-align: center;
}
.sele{
    background-color: rgb(206, 126, 7);
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 1.5%;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
}
.nosele{
    color: rgb(206, 126, 7);
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 1.5%;
    border-radius: 5px;
    margin-left: 10px;
}
.nosele:hover{
    background-color: rgb(206, 126, 7);
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 1.5%;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
}
/*-------------------cabecera---------------------*/
#titulo{
    color: rgb(206, 126, 7);
    text-align: center;
    padding: 300px;
}
#titulo h1{
    font-size: 60px;
}
h3{
    text-align: center;
    font-size: 30px;
    color: rgb(206, 126, 7);
    padding: 0px 0px 50px 0px;
    text-decoration: underline 3px;
}
#info{
    box-shadow: 0px 0px 15px #ccc;
    background-color: rgb(206, 126, 7);
}
#info h2{
    color: white;
    text-align: center;
    padding: 3%;
}
#info p{
    color: white;
    text-align: justify;
    margin: 0px 5% 0px 5%;
    padding: 0px 0px 50px 0px;
}
#qsmos{
    background-color: white;
}
#qsmos h2{
    text-align: center;
    color: rgb(206, 126, 7);
    padding: 3%;
}
#qsmos p{
    color: black;
    text-align: justify;
    margin: 0px 5% 0px 5%;
    padding: 0px 0px 50px 0px;
}
#dnde{
    box-shadow: 0px 0px 15px #ccc;
    background-color: rgb(206, 126, 7);
}
#dnde h2{
    text-align: center;
    color: white;
    padding: 3%;
}
#dnde p{
    color: white;
    text-align: justify;
    margin: 0px 5% 0px 5%;
    padding: 0px 0px 50px 0px;
}
/*-------------------inicio---------------------*/
footer{
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 4rem;
    display: block;
}
footer p{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 23px 0px 0px 0px;
}
/*--------------------footer---------------------*/